<% content_for :title do %>Entrar | Comidelivery.com <% end %>
<div class="row">
	<div class="col-md-4">
		<div class="page-header">
			<h1><%= t ".title" %></h1>
		</div>
		<p><%= @back_to %></p>

		<% flash.each do |name, msg| -%>
	      <%= content_tag :div, msg, class: "alert alert-success" %>
	    <% end -%>

		<% if @user_session.errors.has_key? :base %>
			<div class="alert alert-danger" role="alert">
				<%= @user_session.errors[:base].join(', ') %>
			</div>
		<% end %>

		<%= form_for @user_session, html: {class: "form-horizontal", role: "form"} do |f|%>
			<div class="form-group">

				<%= f.label :email, t('.email'), class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.email_field :email, class: 'form-control', placeholder: "Digite seu email" %>
				</div>
				
			</div>
			
			    
			   
			
			<div class="form-group">
				<%= f.label :password, t('.password'),class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.password_field :password, class: 'form-control', placeholder: "Digite sua senha" %>
				</div>
			</div>

			<% if @back_to %>
			<input type="hidden" name="back_to" value="<%= @back_to %>">
			<% end %>
				
			
			<div class="form-group">

				<div class="col-sm-2"></div>
				<div class="col-sm-8">

					<%= f.button t('.submit'), class: 'btn btn-primary' %>
			    	
			    </div>
			</div>

		<%end%>
		

			<p><%= I18n.t(".user_sessions.new.no_account") %> <%= link_to t('.sign_up'), new_usuario_path, class: "btn  btn-default btn-sm" %></p>

			<p>Esqueceu sua senha? Entre em <a href="/contato">contato</a> com nosso suporte.</p>

					
			    	
			 
		

	</div>
</div><!-- row -->